.contact {
    margin-top: 5rem;
    grid-column: col-start 1 / col-end 9;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        justify-content: flex-start;
     }

    &__right {
        align-self: flex-end;
        margin-bottom: 2rem;
        @media only screen and (max-width: $bp-small) {
            align-self: center;
            margin-top: 2rem;
            text-align: center;
         }
        &__text {
            font-size: 2rem;
            @media only screen and (max-width: $bp-small) {
                font-size: 1.5 rem;
             }
        }
    }
    &__left {
        @media only screen and (max-width: $bp-small) {
            align-self: center;
            text-align: center;
         }
    }
}
.pulse {
    background-color: $color-text;
    height: 3px;
    width: 3px;
    border-radius: 999px;
}