

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;




.rows {
    max-width: $grid-width;
    margin: 0 auto;
   
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
       
    }

    



    [class^="col-"] {
        float: left;
    &:not(:last-child) {
        margin-right: $gutter-horizontal;
        @media only screen and (max-width: $bp-small) {
           margin-right: 0;
           margin-bottom: 8rem;
        }
             }
             @media only screen and (max-width: $bp-small) {
                width: 100% !important;
             }
    }

    .col-1-of-3 {
        width: calc((100% - 2*#{$gutter-horizontal}) / 3);
    }
  
}