.header {
    grid-column: 2 / 11;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 4rem;
        width: 4rem;
        margin: 3rem 0;
  
    }

    &__items {
        list-style: none;
        text-decoration: none;
   

        display: flex;
        justify-self: center;
        align-self: center;
      
    }

    &__list {
        font-size: 2rem;
        margin-right: 4rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1rem;
            margin-right: 2rem;
         }
       
    }
    &__links {
        color: $color-primary-grey;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            color: $color-text;
        }
    }
    &__icon {
        display: flex;
        justify-self: center;
        align-self: center;
    }
}


.home {
    grid-column: col-start 1 / col-end 9;
 
    display: flex;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
 
    

    &__text {
        margin-top: -4rem;
        align-self: center;

        @media only screen and (max-width: $bp-small) {
            text-align: center;
            margin-bottom: 2rem;
            margin-top: -3rem;
            margin-bottom: 10rem;
        }

        &__main,
        &__desc {
            font-size: 2.5rem;
            font-weight: 400;
        }
    }

    &__img {
        align-self: center;
        background-size: cover;
        max-width: 40rem;
        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }
    }

}
.btn {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 1.5rem;
    letter-spacing: 0.025em;
    border-radius: 999px;
    border: none;
    background-image: linear-gradient(to right , #0099FF, #0077FF );
    color: $color-white;
    padding: 1.3rem 2.5rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-image: linear-gradient(to right , #0077FF, #0099FF );
    }
    &-text {
        text-align: center;
    }
}