.skill {
    grid-column: col-start 1 / col-end 9;
    @media only screen and (max-width: $bp-small) {
      margin-top: -10rem;
  }

    &__container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        
        & > * {
            margin: 3rem;
        }

        &--1 {
         border: 1px solid rgba(91,110,128,.1);
        height: 10rem;
        width: 10rem;
        }
        &--2 {
            border: 1px solid rgba(91,110,128,.1);
            height: 10rem;
            width: 10rem;
         }
         &--3 {
            border: 1px solid rgba(91,110,128,.1);
             height: 10rem;
             width: 10rem;
             }
        &--4 {
            border: 1px solid rgba(91,110,128,.1);
             height: 10rem;
            width: 10rem; 
             }
         &--5 {
            border: 1px solid rgba(91,110,128,.1);
               height: 10rem;
               width: 10rem;
             }
             &--6 {
                border: 1px solid rgba(91,110,128,.1);
                   height: 10rem;
                   width: 10rem;
                 }
                 &--7 {
                    border: 1px solid rgba(91,110,128,.1);
                       height: 10rem;
                       width: 10rem;
                     }    
                     &--8 {
                        border: 1px solid rgba(91,110,128,.1);
                           height: 10rem;
                           width: 10rem;
                         }
                         &--9 {
                            border: 1px solid rgba(91,110,128,.1);
                               height: 10rem;
                               width: 10rem;
                             }
           
    }
    &__icon {
        height: 8rem;
        width: 8rem;
        margin: 1rem;
    }
}