
.heading-1 {
    font-size: 3rem;
    color: $color-primary;
    line-height: 1.5;
    font-weight: 800;
    &__center {
        text-align: center;
    }
}

.heading-2 {
    font-size: 2.5rem;
    color: $color-primary;
    line-height: 1.5;
    font-weight: 600;
    &__center {
        text-align: center;
    }
}

.heading-3 {
    font-size: 2rem;
    color: $color-text;
    line-height: 1.5;
    font-weight: 600;
    &__center {
        text-align: center;
    }
   
}
.heading-4 {
    font-size: 2rem;
    color: $color-primary;
    line-height: 1.5;
    font-weight: 600;
    &__center {
        text-align: center;
    }
    &__grey {
        color: $color-primary-grey;
    }
}

.heading-45 {
    font-size: 2.5rem;
    color: $color-primary;
    line-height: 1.5;
    font-weight: 600;
    margin: 0.5rem;
    &__center {
        text-align: center;
    }
    &__grey {
        color: $color-primary-grey;
    }
}

.mb-vsm {
    margin-bottom: 1rem; 
}

.mb-sm {
    margin-bottom: 2rem; 
}
.mb-md {
    margin-bottom: 3rem; 
}
.mb-lg {
    margin-bottom: 4rem; 
}
.mb-hg {
    margin-bottom: 8rem; 
}
.pd-tp {
    padding-top: 3rem;
}
.mg-tp {
    margin-top: 3rem;
    @media only screen and (max-width: $bp-medium) {
        margin-top: 2.5rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-top: 2rem;
    }
}
.mg-vtp {
    margin-top: 10rem;

    @media only screen and (max-width: $bp-medium) {
        margin-top: -25rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-top: 5rem;
    }

}