.work {
    grid-column: col-start 1 / col-end 9;

}
.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(#000,.15);
        &--front {
            background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);
            // &-1 {
            //     background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark);
            // }
            // &-2 {
            //     background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
            // }
            // &-3 {
            //     background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark);
            // }

        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &--1 {
            background-image:   url(../img/p1.png);
        }
        &--2 {
            background-image:  url(../img/p2.png);
        }
        &--3 {
            background-image:  url(../img/p4.png);
        }
    }
    

    &__heading {
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        color: $color-primary;
        position: absolute;
        top: 25rem;
        right: 5rem;
        width: 70%;

        @media only screen and (max-width: $bp-medium) {
            right: 4rem;
        }
        @media only screen and (max-width: $bp-medium) {
            top: 26rem;
            right: 8rem;
        }


    }
    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
       
        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light,.25),
            rgba($color-tertiary-dark,.25))
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light,.25),
            rgba($color-tertiary-dark,.25))
        }
        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light,.25),
            rgba($color-tertiary-dark,.25))
        }
    }
    &__details {
        padding: 3rem;
        margin-top: 3rem;

        @media only screen and (max-width: $bp-medium) {
            margin-top: 6rem;
        }
        
        

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
        }
        li {
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            &:not(:last-child) {
             border-bottom: 1px solid $color-gray-light-2;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 1.7 rem;
             }

        }
    }

    // // BACK SIDE
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        text-align: center;
    }
        &__back--box {
            text-align: center;
            color: $color-primary;
            margin-bottom: 8rem;

        }
        &__back-only {
            font-size: 1.6rem;
            text-transform: uppercase;
        }
        &__back-value {
            font-size: 4rem;
            font-weight: 100;
        }
}

